.boton-centro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.boton-centro button {
  padding: 15px 30px;
  font-size: 60px;
  background-color: #4f8d9d;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.grabando-voz {
  font-size: 60px;
  color: black;
  padding-bottom: 300px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
}

.grabando-voz p {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.grabando-voz button {
  position: fixed;
  top: 400px;
  left: 380px;
  padding: 5px 30px;
  background-color: #4f8d9d;
  border: none;
  border-radius: 20px;
  font-size: 55px;
  color: black;
  cursor: pointer;
  width: 350px;
  height: 85px;
}

.Numeros {
  font-size: 60px;
  color: black;
  padding: 15px 30px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  text-align: center;
}

.Numeros p {
  padding-bottom: 60px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.Numeros h5 {
  padding-bottom: 60px;
  text-align: center;
}

.Numeros h3 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.texto-usuario {
  font-size: 80px;
  color: #000000;
  padding: 0.5px;
  border-radius: 8px;
  margin-top: 0.5px;
  height: 100px;
  width: 800px;
  word-wrap: break-word;
}
