
.navbar {
    background-color: #4E869A;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    border-radius: 25px;
    width: 1000px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    background-color: transparent;
  }
  
  .boton-pausa{
    background: transparent;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 5px;
  }

  .tiempo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4E869A;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: 4px solid #d9f2ff;
  }
  
  .Score {
    background-color: #4E869A;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    height: 40px;
    text-align: center;
    padding: 3px 1px 3px 500px;
  }

  .boton-ayuda{
    background-color: #d9f2ff;
    color: #4f8d9d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }

  .boton-centro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .boton-centro button {
    padding: 15px 30px;
    font-size: 60px;
    background-color: #4f8d9d;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .grabando-voz {
    font-size: 60px;
    color: black;
    padding-bottom: 300px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
  }

  .grabando-voz p{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
  }

  .grabando-voz button{
    position: fixed;
    top: 400px;
    bottom: 10px;
    right: 10px;
    left: 380px;
    padding: 5px 30px;
    background-color: #4f8d9d;
    border: none;
    border-radius: 20px;
    font-size: 55px;
    color: black;
    cursor: pointer;
    width: 350px;
    height: 85px;
  }

  .Numeros {
    font-size: 60px;
    color: black;
    padding: 15px 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
    text-align: center;
    }
  
    .Numeros p {
      padding-bottom: 60px;
      font-size: 80px;
      font-weight: bold;
      text-align: center;
    }

    .Numeros h5{
      padding-bottom: 60px;
      text-align: center;
    }

    .Numeros h3{
      font-size: 60px;
      font-weight: bold;
      text-align: center;
    }

    .pantalla-final {
      position: fixed;
      font-size: 60px;
      font-weight: bold;
      text-align: center;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 50%;
    }

    .instrucciones h2 {
      color:  rgba(8, 46, 50, 0.832);
      text-align: center;
      font-family:'Cooper Black';
    }

    .instrucciones p {
      color: rgba(8, 46, 50, 0.832);
      text-align:center;
      font-family:'Gill Sans MT';
      font-size: 20px;
      font-weight: bold;
    }

    .instrucciones h5 {
      color: rgba(8, 46, 50, 0.832);
      text-align:justify;
      font-family:'Gill Sans MT';
      font-size: 16px;
    }

    .instrucciones li {
      color:  rgba(8, 46, 50, 0.832);
      text-align:justify;
      font-family:'Gill Sans MT';
      font-size: 16px;
    }

    .botoncomenzar button {
    background-color: #147e96e4;
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 15%;
    font-family: 'Gill Sans MT';
    align-items: right;
    font-weight: bold;
    font-size: 26px;
    border: none;
    cursor: pointer;
    justify-content: center;
    position:fixed;
    top: 74%;
    bottom: 0%;
    left: 45%;
    }

    .instrucciones h6{
      color: rgba(14, 98, 107, 0.666);
      text-align:center;
      font-family:'Gill Sans MT';
      font-size: 18px;
    }

    .pantalla-cuenta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#d9f2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }


    .pantalla-cuenta h1 {
    font-size: 6rem;
    color: black;
    text-align: center;
    animation: zoomIn 0.5s ease;
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

    .texto-usuario {
      font-size: 80px;
      color: #000000;
      padding: 0.5px;
      border-radius: 8px;
      margin-top: 0.5px;
      height: 100px;
      width: 800px;
      word-wrap: break-word;
    }

    .Pausa h2 { 
      font-family: 'Cooper Black';
      text-align: center;
      font-size: 30px;
    }

    .botonesPausa button{
      width: 150px;
      padding: 10px 10px;
      font-size: 18px;
      font-family: 'Gill Sans MT';
      border-radius: 10px;
      border: none;
      cursor: pointer;
      background-color: #47a5b1;
      color: white;
    }

    .botonesPausa { 
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1px;
      margin-top: 2px;
      border-radius: 15%;
}

.botonesPausa button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
