Backend/neuralgym/apps/Digitos/vosk-model-es-0.42/*
!Backend/neuralgym/apps/Digitos/vosk-model-es-0.42/.gitkeep


# --- Node.js / React ---
node_modules/
build/
dist/
.env

# --- Python / Django ---
__pycache__/
*.py[cod]

*.log
*.pot
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/
backEnv/

# --- IDEs y Sistemas ---
.vscode/
.idea/
.DS_Store
*.swp
Thumbs.db

# --- Git ---
*.orig

# --- Static files (si usas collectstatic) ---
staticfiles/