.meaning-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 83vh;
  padding: 2rem 0rem;
  text-align: center;
}

.objetive-meanings {
  background: rgba(191, 208, 231, 0);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 85px;
  padding: 10px 5px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}

.objetive-meanings.correcto {
  box-shadow: 0px 0px 50px #1fae17;
  animation: pulse 0.5s;
}

.objetive-meanings.incorrecto {
  box-shadow: 0 0 50px #ee180c;
  animation: shake 0.5s; /* ← Aquí activamos la animación */
}

.objetive-meanings h3 {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
}

.objetive-meanings h5 {
  font-size: 20px;
  margin: 0;
  color: #000;
}

.grid-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 310px;
  gap: 30px 50px;
}

.option-meanings {
  background: rgba(182, 209, 248, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 235px;
  height: 160px;
  padding: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.3s;
}

.option-meanings:hover {
  transform: scale(1.05);
}

.option-meanings.seleccionada {
  box-shadow: 0 0 12px #3f7bdd;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
