/* Fondo general */
.login-container {
  background-image: linear-gradient(to right, #daf0fd, #b6d6f7);
  background-size: 300% 100%;
  background-position: 0% 0%;
  height: 88vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja del login */
.login-box {
  background-color: #ffffff;
  padding: 45px 35px;
  border-radius: 20px;
  text-align: center;
  width: 360px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI", sans-serif;
}

/* Título */
.login-box h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #2a2a2a;
}

/* Campos de entrada */
.login-box input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 15px;
  color: #333;
  outline: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Botón */
.login-box button {
  margin-top: 18px;
  background-color: #4e869a;
  color: white;
  border: none;
  padding: 13px;
  width: 100%;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.login-box button:hover {
  background-color: #4a6d82;
}

/* Enlace de recuperar contraseña */
.login-box a {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  color: #1b3c5d;
  text-decoration: underline;
}

/* Mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
