/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor principal */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Contenido principal */
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #daf0fd;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  overflow-y: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
}
