.game-header-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(233, 245, 255); /* barra central */
  padding: 8px 30px;
  border-radius: 50px;
  height: 9vh;
  width: 75vw;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.game-header::before,
.game-header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: #d8efff; /* fondo claro */
  z-index: -1;
}

.game-header::before {
  left: 0;
  border-right: 2px solid #a0c6fb;
}

.game-header::after {
  right: 0;
  border-left: 2px solid #a0c6fb;
}

.score {
  font-size: 35px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 80px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.score h5 {
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.icon-pause {
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icono-game-header {
  margin-right: 0;
  height: 40px;
  color: #333;
}

.timer-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.alert {
  margin-left: auto;
}

.timer {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
